<div>
    <h1 style="color: brown; text-align:center;">Restaurar Contrase単a</h1>
    <br>
    <h2>Este correo te permitira cambiar tu contrase単a</h2>
    <p>Es importante que la contrase単a que coloques, sea diferente a la actual</p>
    <div>
        <p>Puedes restablecer tu contrase単a <a href="http://localhost:8000/restorePassword">En este enlace</a></p>
    </div>
</div>