<div>
    <h1 style="color: green; text-align:center;">Ticket de Compra</h1>
    <br>
    <p>ID Ticket: {{payload._id}}</p>
    <p>Cantidad: {{payload.amount}}</p>
    <p>Precio Total: {{payload.price}}</p>
</div>