<div>
    <h1>Login</h1>

    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>

        <label>Contraseña</label>
        <input type="password" name="password">
        <br>

        <input type="submit">
    </form>
        <br>
        <p>Ingresar con GitHub:</p>
        <a href="api/sessions/github"><button>GitHub</button></a>
        <br>
        <br>
        <button><a href="/register">registrarse</a></button>
</div>
<script src="/js/login.js"></script>