<div>
    <h1>Perfil</h1>
    <h2>Usuario: {{user.name}}</h2>
    <h2>Correo:{{user.email}}</h2>
    <h2>id: {{user.id}}</h2>
</div>
    <br>
    <a href="/login"><button>Volver</button></a>
<script src="/socket.io/socket.io.js"></script>