<h2>Restaurar tu contraseña</h2>
<br>
<h3>Escribe tu correo</h3>

<form id="restoreRequestForm">
    <input type="email" name="email" id="">
    <input type="submit" id="submitter">
</form>

<br>

<a href="/"><button>Inicio</button></a>

<p id="message"></p>

<script src="/js/restoreRequest.js"></script>
