<div>
    <h1>Modificar producto</h1>

    <a href="/products"><button>Volver</button></a>
    <br>
    <br>

    <form id="updateProductForm">
        <label>Titulo</label>
        <input name="title">
        <br>

        <label>Descripcion</label>
        <input name="description">
        <br>

        <label>Precio</label>
        <input type="number" name="price">
        <br>

        <label>Categoria</label>
        <input name="category">
        <br>

        <label>Thumbnail</label>
        <input name="thumbnail">
        <br>

        <label>Code</label>
        <input type="number" name="code">
        <br>

        <label>Stock</label>
        <input type="number" name="stock">
        <br>

        <label>Status:</label>
        <label>true</label>
        <input type="radio" name="status" value="true">
        <label>false</label>
        <input type="radio" name="status" value="false">
        <br>

        <input type="submit">
        <br>
    </form>
</div>
<script src="/js/updateProduct.js"></script>