<div>
    <h1>Modifica un producto</h1>

    <form id="updateProductForm">
        <label>Titulo</label>
        <input name="title">
        <br>

        <label>Descripcion</label>
        <input name="description">
        <br>

        <label>Precio</label>
        <input name="price">
        <br>

        <label>Categoria</label>
        <input name="category">
        <br>

        <label>Thumbnail</label>
        <input name="thumbnail">
        <br>

        <label>Code</label>
        <input name="code">
        <br>

        <label>Stock</label>
        <input name="stock">
        <br>

        <label>Status</label>
        <input name="status">
        <br>

        <input type="submit">
        <br>
    </form>
    <p id="message"></p>
    <a href="/products"><button>Volver</button></a>
</div>

<script src="/js/updateProduct.js"></script>